{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container">
    <div>
        <a href="{% url 'image-list' %}" class="btn-light">Back to Feed</a>
    </div>

    <div>
        <div class="card shadow-sm border-bottom px-5 pt-3">
            <img src="{{ profile.image.url }}" class="rounded-circle" width="100" height="100">
            {% if profile.full_name %}
            <h3 class="py-4">{{ profile.full_name }}</h3>
            {% endif%}

            {% if profile.bio %}
            <h3 class="py-4">{{ profile.bio }}</h3>
            {% endif%}
        </div>

    </div>

    <h1 class="border p-2"></h1>
    {% for image in image_list %}

    <img src="{{ image.image }}"> 
    <p>Created by {{ image.author }} on {{ image.created_on }}</p>

    {% endfor %}
</div>

{% endblock %}